<%
var runs = task.get('runs');
var run = runs.at(0);
var steps = run.get('steps');
%>

<div class="clearfix">
  <h3 class="taskName <%= task.status() %>"><%= task.get('name') %></h3>
  <div class="recentRuns">
    <% var i = 1; %>
    <% runs.each(function(run) { %>
        <span 
          style="opacity: <%= 'running' == run.get('state') ? 1 : 1 / Math.sqrt(i) %>;"
          class="recentRun <%= run.get('state') %>"
          title="
            <p>
              <strong>Started At:</strong><span><%= new Date(run.get('started_at')).format('m/d HH:MM') %></span>
            </p>

            <p>
              <% if(run.get('finished_at')) { %>
                <strong>Finished At:</strong> <span><%= new Date(run.get('finished_at')).format('m/d HH:MM') %></span>
              <% } %>
            </p>

            <% if(steps) { %>
              <p>
                  <strong>Steps:</strong> <span><%= run.get('steps_done') || 0 %>/<%= steps %></span>
              </p>
            <% } %>

            <p>
              <strong>State:</strong>
              <%= run.get('state') %>
            </p>

            <p>
              <% if(run.get('state') == 'running') { %>
                  <strong>Pulse:</strong>
                  <span class="pulse"><%= run.get('pulse') %></span>
              <% } %>
            </p>

            <% if(run.get('message')) { %>
                <p><%= run.get('message') %></p>
            <% } %>
"
        >&nbsp;</span>
        <% i++; %>
    <% }); %>
  </div>
</div>
